@{
    ViewData["Title"] = "User Settings";
}

<div class="back1">
    <div class="container mt-4">
        <h2>User Settings</h2>

        <div class="list-group mt-3">
            <a class="list-group-item list-group-item-action"
            asp-controller="UserSettings" asp-action="Dietary">
                Dietary Restrictions
            </a>

            <a class="list-group-item list-group-item-action"
            asp-controller="UserSettings" asp-action="Nutrition">
                Nutrition Goals
            </a>
            <a class="list-group-item list-group-item-action"
            asp-controller="UserSettings" asp-action="ThemeChange">
                Change Theme
            </a>
            <a class="list-group-item list-group-item-action"
            asp-controller="AccountSettings" asp-action="ResetPassword">
                Reset Password
            </a>
        </div>
    </div>
</div>