@{
    ViewData["Title"] = "User Settings";
}

<div class="back1">
    <h2 class="back1Title">User Settings</h2>

    <div class="list-group mt-3" style="border-radius: 20px 20px 0 0;">
        <a class="list-group-item list-group-item-action linkListBack"
            asp-controller="UserSettings" asp-action="Dietary">
            <h5 class="baseText">Dietary Restrictions</h5>
        </a>

        <a class="list-group-item list-group-item-action linkListBack"
        asp-controller="UserSettings" asp-action="Nutrition">
            <h5 class="baseText">Nutrition Goals</h5>
        </a>

        <div class="list-group-item linkListBack d-flex justify-content-between align-items-center">
            <h5 class="baseText mb-0">Toggle Dark Mode</h5>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="themeToggle"
                       style="cursor:pointer; width:3em; height:1.5em;">
            </div>
        </div>

        @if (User.IsInRole("Admin"))
            {
                <a class="list-group-item list-group-item-action linkListBack"
                asp-controller="Home" asp-action="Admin">
                    <h5 class="baseText">Admin</h5>
                </a>
            }
            else if (User.IsInRole("User"))
            {
                <a class="list-group-item list-group-item-action linkListBack"
                asp-controller="Favorites" asp-action="Index">
                    <h5 class="baseText">Favorites</h5>
                </a>
            }

        <a class="list-group-item list-group-item-action linkListBack"
        asp-controller="UserSettings" asp-action="ResetPassword">
            <h5 class="baseText">Reset Password</h5>
        </a>
        <partial name="_LoginPartial" />
    </div>
</div>

@section Scripts {
    <script src="~/js/themeToggle.js"></script>
}