@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form method="post" asp-area="" asp-controller="Login" asp-action="Logout" id="logoutForm">
        @Html.AntiForgeryToken()
        <button type="submit" class="list-group-item list-group-item-action linkListBack w-100 text-start" style="border-radius: 0 0 20px 20px;">
            <h5 class="baseText">Logout</h5>
        </button>
    </form>
}
else
{
    <a class="list-group-item list-group-item-action linkListBack"
        asp-area="" asp-controller="Login" asp-action="Login">
        <h5 class="baseText">Login</h5>
    </a>
    <a class="list-group-item list-group-item-action linkListBack"
        asp-area="" asp-controller="Register" asp-action="Register">
        <h5 class="baseText">Register</h5>
    </a>
}