<div class="container-sm m-3 p-3 bg-secondary rounded border border-dark-subtle">
    <form action="javascript:void(0)">
        <input id="searchText" class="form-control" type="text">
    </form>
    <hr />
    <h3 id="error" class="text-center"></h3>
    <div id="recipeResults" class="container-fluid my-3 ">
    </div>

    <template id="recipeResult">
        <div class="row border border-dark bg-secondary-subtle pt-1 rounded my-1 search-result recipeSearchRow">
            <h4 class="recipeName"></h4>
            <div class="recipeId" hidden></div>

            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <div class="mt-2">
                    <form class="favoriteForm" asp-controller="Favorites" asp-action="Add" method="post">
                        <input type="hidden" name="recipeId" class="recipeIdInput" value="" />
                        <input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString" />
                        <button type="submit" class="btn btn-sm btn-outline-primary favoriteBtn">♡ Favorite</button>
                    </form>
                </div>
            }
        </div>
    </template>
</div>
