<div class="container-sm m-3 p-3 bg-secondary rounded border border-dark-subtle">
    <form action="javascript:void(0)">
        <input id="searchText" class="form-control" type="text">
    </form>
    <hr />
    <h3 id="error" class="text-center"></h3>
    <div id="recipeResults" class="container-fluid my-3 ">
    </div>
    <template id="recipeResult">
        <div class="row border border-dark bg-secondary-subtle pt-1 rounded my-1 search-result ">
            <h4 id="recipeName"></h4>
        </div>
    </template>
</div>
