<div class="back2">
    <h1 class="back1Title">Search for Recipes</h1>

    <input id="searchText" class="back2-textbox" type="text" placeholder="Oatmeal Cookies">
    <select id="tagFilter" class="back2-textbox mt-2">
        <option value="">Filter by Tag: All</option>
    </select>
    <hr>
    <h3 id="error" class="text-center"></h3>
    <div id="recipeResults" class="container-fluid my-3 "></div>
    <template id="recipeResult">
        <div class="buttonGrey position-relative px-5 py-3 recipeSearchRow">
            <h3 class="buttonText recipeName"></h3>
            <div hidden class="recipeId"></div>
            <input type="hidden" name="RecipeIds" class="recipeIdInput" value="" />
            <div class="row-end position-absolute top-50 end-0 translate-middle pe-3">

            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <form class="favoriteForm" asp-controller="Favorites" asp-action="Add" method="post">
                    <input type="hidden" name="recipeId" class="recipeIdInput" value="" />
                    <input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString" />
                    <button type="submit" class="favoriteBtn growOnHover">
                        <img src="~/images/icons/heart.svg" width="30" height="30">
                    </button>
                </form>
            }
            </div>
            <h4 class="buttonText recipeRating" ></h4>
        </div>
    </template>

    <img src="~/images/icons/Edamam_Badge.svg" width="300" height="150" />
</div>