@{
    ViewData["Title"] = "Admin";
}


<!-- This view is for demonstration purposes only. In a real application, you would likely have more complex logic and content here for the admin. -->
<div class="text-center">
    <h1 class="display-4">Welcome to Admin page</h1>
</div>