@using Microsoft.EntityFrameworkCore.Internal
@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity?.IsAuthenticated == true ? User.Identity.Name : "Guest";
}

<div class="back1">
    <h1 class="back1Title">Welcome Back @userName</h1>

    <div class="row align-items-center">
        <!-- Meal Planner -->
        <div class="col d-flex justify-content-center">
            <form asp-controller="Meal" asp-action="PlannerHome">
                <button class="imageButton">
                    <img src="~/images/icons/calendar.webp" alt="calendar" class="imageButtonimage imageScaleDown">
                    <div class="buttonBlue">
                        <h2 class="buttonText">Meal Planner</h2>
                    </div>
                </button>
            </form>
        </div>

        <!-- Food Entries -->
        <div class="col d-flex justify-content-center">
            <form asp-controller="FoodEntries" asp-action="SelectType" method="get">
                <button type="submit" class="imageButton">
                    <img src="~/images/icons/servedish.png" alt="servedish" class="imageButtonimage">
                    <div class="buttonBlue">
                        <h2 class="buttonText">Your Food Entries</h2>
                    </div>
                </button>
            </form>
        </div>

        <!-- Cart -->
        <div class="col d-flex justify-content-center">
            <button class="imageButton">
                <img src="~/images/icons/shoppingcart.webp" alt="shoppingcart" class="imageButtonimage">
                <div class="buttonBlue">
                    <h2 class="buttonText">My Cart</h2>
                </div>
            </button>
        </div>

        <!-- Holds a display of the statistics so far today. Will populate this with info when the nutrient info is done -->
        <div class="back2 backHasButton">
            <h2 class="back1Title">Todays Statistics</h2>
            <img src="~/images/placeholder/nutrients.png" alt="nutrients" class="imageFit">
            <button class="buttonBlue">
                <h2 class="buttonText">More Statistics</h2>
            </button>
        </div>
    </div>
</div>
