@{
    ViewData["Title"] = "Home Page";
}

<div class="back1 backHasButton">
    <h1 class="back1Title">Welcome Back {Name}</h1>

    <div class="row align-items-center">
        <div class="col">
            <button class="imageButton">
                <div class="buttonBlue">
                    <h2>Meal Plan</h2>
                </div>
            </button>
        </div>

        <div class="col">
            <button class="imageButton">
                <div class="buttonBlue">
                    <h2>Statistics</h2>
                </div>
            </button>
        </div>

        <div class="col">
            <button class="imageButton">
                <div class="buttonBlue">
                    <h2>Shopping List</h2>
                </div>
            </button>
        </div>
    </div>

    <div class="back2 backHasButton">
        <h2 class="back1Title">Stats Will Go Here</h2>
        <button class="buttonBlue">
            <h2>hi</h2>
        </button>
    </div>

        <button class="buttonBlue">
            <h2>hi</h2>
        </button>
</div>

<div class="back1"></div>
