@{
    ViewData["Title"] = "Home Page";
}

<div class="back1">
    <h1 class="back1Title">Welcome Back {Name}</h1>

    <div class="row align-items-center">
        <div class="col">
            <button class="imageButton">

                <img src="~/images/icons/calendar.webp" alt="calendar" class="imageButtonimage imageScaleDown">
                <div class="buttonBlue">
                    <h2 class="buttonText">Meal Plan</h2>
                </div>

            </button>
        </div>

        <div class="col">
            <button class="imageButton">

                <img src="~/images/icons/servedish.png" alt="servedish" class="imageButtonimage">
                <div class="buttonBlue">
                    <h2 class="buttonText">Your Food Entrys</h2>
                </div>

            </button>
        </div>

        <div class="col">
            <button class="imageButton">

                <img src="~/images/icons/shoppingcart.webp" alt="shoppingcart" class="imageButtonimage">
                <div class="buttonBlue">
                    <h2 class="buttonText">Shopping List</h2>
                </div>

            </button>
        </div>
    </div>

    <div class="back2 backHasButton">
        <h2 class="back1Title">Todays Statistics Will go Here</h2>
        <button class="buttonBlue">
            <h2 class="buttonText">More Statistics</h2>
        </button>
    </div>
</div>