@model AddRecipeViewModel

<link rel="stylesheet" href="~/css/AddNewRecipe.css" asp-append-version="true" />

<div class="back1 backHasButton">
    <h1 class="back1Title">Create a Recipe</h1>

    <form asp-controller="FoodEntries" asp-action="RecipeAdded" method="post">
    <h2 class="back1Title left">
        <span>Name:</span>
        <input class="back2-textbox" type="text" placeholder="Enter Recipe Name"  asp-for="Name" required>
    </h2>


    <div class="back2 backHasButton" id="AppendHere">
        <h2 class="back1Title">Ingredients</h2>
        <input type="text" class="back2-textbox", placeholder="Enter Ingredient"  name="Ingredients" required>

        <button class="buttonGreen" id="buttonAppend">
            <h2 class="buttonText">Add Ingredient</h2>
        </button>
    </div>

    <div class="back2">
        <h2 class="back1Title">Instructions</h2>
        <textarea class="back2-textbox instructionsBox" placeholder="Enter Instructions"  asp-for="Steps" required></textarea>
    </div>

        <button class="buttonBlue" type="submit">
            <h2 class="buttonText">Add Recipe</h2>
        </button>
    </form>
</div>

<script src="~/js/newrecipepage.js"></script>