<div class="back1 backHasButton">
    <h1 class="back1Title">Your Recipes</h1>
    <h1 class="back1Title">{A list of the users recipes here}</h1>
    <form asp-controller="FoodEntries" asp-action="AddNewRecipe" method="get">
        <button class="buttonBlue">
            <h2 class="buttonText">Create a New Recipe</h2>
        </button>
    </form>
</div>