@model MealPlanner.ViewModels.CreateMealViewModel

<div class="back1 backHasButton">
    <h2 class="back1Title">Create a Meal</h2>
    <hr>

   <div id="createMealList">
    <template id="addRecipeRow">
        <div class="back2 d-flex align-items-center gap-2 back2-textbox mealRecipeItem">
            <h4 id="recipeName" class="mb-0 flex-grow-1">{Recipe Name}</h4>
            <input type="hidden" name="RecipeIds" class="recipeIdInput" />
            <button type="button" class="btn btn-danger delete-recipe-btn">X</button>
        </div>
    </template>
</div>

    <div class="row align-items-center">
        <div class="text-danger" asp-validation-summary="All"></div>

        <form id="createMealForm" class="col d-flex flex-column mx-1" asp-action="NewMeal" method="post">

            <div class="row g-3 mb-3">
                <div class="col-md-6">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Date" class="form-label"></label>
                    <input asp-for="Date" type="date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>

            <div class="row g-3 mb-3">
                <div class="col-md-4 d-flex align-items-end">
                    <div class="form-check">
                        <input asp-for="RepeatWeekly" class="form-check-input" />
                        <label asp-for="RepeatWeekly" class="form-check-label">Repeat Weekly</label>
                    </div>
                </div>
            </div>
        </form>
    </div>

    @await Html.PartialAsync("_RecipeSearchPartial")

    <button type="submit" form="createMealForm" class="buttonBlue">
        <h4>Create Meal</h4>
    </button>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="module" src="~/js/recipeSearch.js"></script>
    <script type="module" src="~/js/createMeal.js"></script>
}