<div class="back1">

    <!-- Meal Plan Quick View -->
    <div class="back2">
        <h2 class="text-center">{Meal Plan View Goes Here}</h2>
    </div>

    <!-- Links -->
    <div class="row align-items-center">
        
        <!-- Add Meal -->
        <div class="col d-flex justify-content-center">
            <form asp-action="NewMeal" method="get">
                <button type="submit" class="imageButton">
                    <img src="~/images/icons/meal.png" alt="meal" class="imageButtonimage">
                    <div class="buttonBlue">
                        <h2 class="buttonText">Add a Meal</h2>
                    </div>
                </button>
            </form>
        </div>
    </div>

</div>