@{
    ViewData["Title"] = "My Cart";
}

<div class="back1">
    <h1 class="back1Title">My Cart</h1>

    <div class="back2 d-flex justify-content-center gap-4 p-4">
        <a asp-action="ShoppingList" class="btn btn-primary btn-lg rounded-4 px-5">Shopping List</a>
        <a asp-action="Pantry" class="btn btn-success btn-lg rounded-4 px-5">My Pantry</a>
    </div>
</div>
